/* orderForm.jsp */
.orderCardContainer{
    margin-top: 173px;
}

.orderItemsWrap, .ordererInfoWrap, .paymentInfoWrap, .deliveryInfoWrap, .mileageInfoWrap {
    background-color: rgba(79,79,79,0.03);
}

/* myOrderList.jsp */

.myOrderContainer{
    margin-top: 173px;
}

/* ankger tage default css 삭제*/
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: blue; text-decoration: underline;}

/* orderDetail.jsp */
.orderDetailContainer{
    margin-top: 173px;
}